@import "tailwindcss";
@import "tw-elements/css/tw-elements.min.css";

* {
  transition: 0.3s;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  line-height: 1.5;
  font-weight: 400;
  color: initial;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --bg-color: #fff;
}

.container {
  margin: auto;
  padding: 0;
}
